.padding_left_title {
  padding-left: 30px;
}
h1,
h2 {
  font-family: "Shrikhand", cursive;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
i.fa-solid {
  color: #404040;
  padding-right: 7px;
}
/* header */
header {
  display: flex;
  justify-content: center;
}
.ohmyfood {
  padding-bottom: 10px;
  padding-top: 10px;
}
/* Accueil */
/* section 1 */
.location {
  text-align: center;
  background: #eceaea;
  box-shadow: 0px 3px 2px -1px inset gray;
  padding-top: 1px;
  padding-bottom: 1px;
}
/* section 2 */
.restaurant_search {
  text-align: center;
  background: #f7f7f7;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}
.title_restaurant_search {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.description_restaurant_search {
  margin-top: 0px;
}
.button_restaurant_search {
  border-radius: 100px;
  background-image: linear-gradient(172deg, #ff79da, #9356dc);
  color: white;
  box-shadow: 0px 8px 3px -3px #c6c6c6;
  justify-content: center;
  display: inline-flex;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 35px;
  padding-left: 35px;
}
/* section 3 */
.p_functioning {
  box-shadow: 0px 4px 4px 5px #f6f6f6;
  border-radius: 30px;
  margin-right: 30px;
  margin-left: 45px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 40px;
}
.p_functioning:hover {
  background-color: #9356dc;
}
.figure_images_fonctioning_restaurant {
  box-shadow: 0px 3px 10px 1px #c6c6c6;
  border-radius: 21px;
}
.images_functioning_restaurant {
  width: 100%;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
}
.link_functioning_restaurant {
  text-decoration: none;
  color: inherit;
}
.figcaption_h2_p_functionning_restaurant {
  margin: 0px;
  margin-top: 5px;
  padding-left: 15px;
}
.figcaption_p_fonctioning_restaurant {
  padding-bottom: 15px;
}
/* footer */
footer {
  background: #353535;
  display: block;
}
footer p {
  color: white;
}
.ohmyfood_footer {
  filter: invert(100%);
  width: 30%;
}
i.icons_footer {
  filter: invert(100%);
  line-height: 0;
}
.padding_footer {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 20px;
}
.line_height_footer {
  line-height: 10px;
}
