/* All pages */
h1 {
  font-size: 50px;
}
h2 {
  font-size: 42px;
}
p {
  font-size: 30px;
}
body {
  margin: 0;
}
i.fa-solid {
  color: #404040;
  padding-right: 7px;
}
/* header */
body > header:nth-child(1) {
  display: flex;
  justify-content: center;
}
.ohmyfood {
  width: 300px;
  padding-bottom: 25px;
  padding-top: 25px;
 }
.restaurants_images {
  width: 100%;
}
/* Accueil */
/* section 1 */
.location {
  text-align: center;
  font-size: 20px;
  background: #eceaea;
  box-shadow: 0px 3px 2px -1px inset gray;
}
.location > p:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}
/* section 2 */
.restaurant_search {
  text-align: center;
  font-size: 20px;
  background: #f7f7f7;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}
.restaurant_search > h1:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.restaurant_search > p:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 40px;
  height: 83px;
  font-size: 44px;
}
.restaurant_search > p:nth-child(3) {
  border-radius: 100px;
  background-image: linear-gradient(172deg, #d18bd7, #d500bc);
  color: white;
  box-shadow: 0px 8px 3px -3px #c6c6c6;
  justify-content: center;
  display: inline-flex;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* section 3 */
.i_functioning {
  display: grid;
  border-radius: 10px;
  justify-content: center;
}
 .i_functioning > p:nth-child(1) {
  box-shadow: 0px 4px 4px 5px #f6f6f6;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 45px;
  padding-top: 45px;
  align-items: center;
  width: auto;
  border-radius: 30px;
}
.i_functioning > p:nth-child(2) {
  box-shadow: 0px 4px 4px 5px #f6f6f6;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 45px;
  padding-top: 45px;
  align-items: center;
  width: auto;
  border-radius: 30px;
}
.i_functioning > p:nth-child(3) {
  box-shadow: 0px 4px 4px 5px #f6f6f6;
  padding-left: 220px;
  padding-right: 220px;
  padding-bottom: 45px;
  padding-top: 45px;
  align-items: center;
  width: auto;
  border-radius: 30px;
}
.functioning > p:nth-child(2):hover {
  background-color: #fbf4fc;
  color: #d500bc;
}
.functioning > p:nth-child(3):hover {
  background-color: #fbf4fc;
  color: #d500bc;
}
.functioning > p:nth-child(4):hover {
  background-color: #fbf4fc;
  color: #d500bc;
}
/* footer */
footer {
  background: #353535;
  display: block;
}
footer p {
  color: white;
}
.ohmyfood_footer {
  filter: invert(100%);
  width: 30%;
}
i.icons_footer {
  filter: invert(100%);
  line-height: 0;
}
.padding_footer {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 20px;
}
.line_height_footer {
  line-height: 10px;
}
.line_height_footer > p:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 173px;
}
.line_height_footer > p:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 149px;
}
