.padding_top_bottom {
  padding-bottom: 50px;
  padding-top: 20px;
}

.padding_top_bottom_2 {
  padding-top: 20px;
}

.padding_left_title {
  padding-left: 30px;
}

.bold {
  font-weight: bold;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.background_color {
  background: #f7f7f7;
}

i.fa-solid {
  color: #404040;
}

.arrow_back {
  position: absolute;
  top: 25px;
  left: 33px;
}

.arrow_back:hover {
  cursor: pointer;
}

.small_title {
  font-size: 20px;
}

.rectangle {
  margin-left: 29px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: -10px;
  width: 51px;
  height: 3px;
  background-color: #99e2d0;
}

/* header */
header {
  display: flex;
  justify-content: center;
}

.ohmyfood {
  padding-bottom: 10px;
  padding-top: 10px;
}

/* Accueil */
/* section 1 */
.location {
  text-align: center;
  background: #eceaea;
  box-shadow: 0px 3px 2px -1px inset gray;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* section 2 */
.restaurant_search {
  text-align: center;
  background: #f7f7f7;
  padding-right: 20px;
  padding-left: 20px;
}

.title_restaurant_search {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.description_restaurant_search {
  margin-top: 0px;
}

.button {
  border-radius: 100px;
  background-image: linear-gradient(172deg, #ff79da, #9356dc);
  color: white;
  box-shadow: 0px 8px 3px -3px #c6c6c6;
  display: inline-flex;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 35px;
  padding-left: 35px;
}

/* section 3 */
.restaurant {
  background: #f7f7f7;
}

.functioning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}

.functioning h2 {
  align-self: start;
  margin: 0 0 35px 5%;
}

.functioning_bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 30px;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 5px 5px 5px #dddddd;
  position: relative;
  transition: box-shadow 200ms;
  width: 70%;
}

.functioning_bar:hover {
  background-color: #f9e8fd;
  cursor: pointer;
  box-shadow: 5px 8px 8px #dddddd;
}

.functioning_bar:hover > i {
  color: #9356dc;
}

.functioning_bar_number {
  position: absolute;
  left: -12px;
  color: #fff;
  background-color: #9356dc;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 1.2em;
}

.functioning_bar_number p {
  position: absolute;
  left: 9px;
  top: -15px;
  font-weight: 100;
}

.functioning_bar i {
  width: 20%;
  text-align: center;
  color: #929292;
}

.functioning_bar p {
  font-weight: bold;
}

.figure_images_fonctioning_restaurant {
  box-shadow: 0px 3px 10px 1px #c6c6c6;
  border-radius: 21px;
}

.images_functioning_restaurant {
  width: 100%;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  height: 157px;
  object-fit: cover;
}

.figcaption_h2_functioning_restaurant {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.figcaption_h2_p_functioning_restaurant {
  margin: 0px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.figcaption_p_fonctioning_restaurant {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.figcaption_p_fonctioning_restaurant i {
  color: #797979;
}

.figcaption_p_fonctioning_restaurant i:hover {
  animation: heart 2s ease-in-out forwards;
  cursor: pointer;
}

@keyframes heart {
  0% {
    font-weight: lighter;
    color: #9356dc;
    opacity: 1;
  }
  25% {
    font-weight: bold;
    color: #9356dc;
    opacity: 0.3;
  }
  50% {
    color: #9356dc;
    opacity: 0.5;
  }
  75% {
    color: #9356dc;
    opacity: 0.9;
  }
  100% {
    font-weight: bold;
    color: #9356dc;
    opacity: 1;
  }
}

/* others pages */
.images_restaurant {
  width: 100%;
  object-fit: cover;
}

.all_containers {
  position: relative;
  border-radius: 50px 50px;
  padding-bottom: 1px;
  top: -50px;
  z-index: 1;
}

.h1_title {
  padding-right: 40px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  background: #f7f7f7;
  bottom: 55px;
  padding-top: 32px;
  margin-bottom: 0px;
  font-size: 30px;
  padding-bottom: 25px;
}

.padding_right_40px {
  padding-right: 40px;
}

.margin_top_0px {
  margin-top: 0px;
}

.menu {
  box-shadow: 0px 4px 4px 5px #f0efef;
  border-radius: 30px;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 21px;
  line-height: 16px;
  margin: 21px;
  background-color: #fff;
  cursor: pointer;
}

.menu:hover > .validation {
  transform: translateX(-80px);
  background-color: #99e2d0;
}

.menu_list_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}

@-webkit-keyframes valid-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes valid-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes menu-appearance {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes menu-appearance {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
  }
}

.menu_list_container .menu_list_card:nth-child(1) {
  animation: menu-appearance 1s ease-in-out both 0.4s;
}

.menu_list_container .menu_list_card:nth-child(2) {
  animation: menu-appearance 1s ease-in-out both 0.6s;
}

.menu_list_container .menu_list_card:nth-child(3) {
  animation: menu-appearance 1s ease-in-out both 0.8s;
}

.menu_list_container .menu_list_card:nth-child(4) {
  animation: menu-appearance 1s ease-in-out both 1s;
}

.menu_list_container .menu_list_card {
  display: flex;
  background-color: #fff;
  box-shadow: 5px 5px 5px #dddddd;
  margin-bottom: 20px;
  width: 90%;
  height: 85px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.menu_list_container .menu_list_card:hover {
  cursor: pointer;
  box-shadow: 5px 8px 8px #dddddd;
}

.menu_list_container .menu_list_card:hover > .menu_list_card_content {
  width: 65%;
}

.menu_list_container .menu_list_card:hover > .validation {
  transform: translateX(-80px);
}

.menu_list_container .menu_list_card:hover > .menu_list_card_number {
  transform: translateX(-80px);
}

.menu_list_container .menu_list_card:hover i {
  -webkit-animation: valid-spin 750ms forwards;
  animation: valid-spin 750ms forwards;
}

.menu_list_container .menu_list_card_content {
  width: 90%;
  padding-right: 10px;
  transition: width 500ms ease-in-out;
}

.menu_list_container .menu_list_card_content h3 {
  font-size: 1.2em;
  margin: 16px 0 5px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_list_container .menu_list_card_content p {
  font-size: 1.1em;
  margin: 8px 0 16px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu_list_container .menu_list_card_number {
  width: 10%;
  margin: 0;
  margin-right: 5px;
  padding: 46px 10px 0 0;
  font-weight: bold;
  font-size: 1.1em;
  position: absolute;
  right: 0px;
  transition: transform 500ms ease-in-out;
}

.menu_list_container .menu_list_card .validation {
  width: 80px;
  background-color: #99e2d0;
  position: absolute;
  right: -80px;
  transition: transform 500ms ease-in-out;
}

.menu_list_container .menu_list_card .validation i {
  color: #fff;
  font-size: 2em;
  padding: 27px 24px;
}

.menu_desc_and_price {
  display: flex;
  justify-content: space-between;
}

.menu_dish_name {
  margin-bottom: 10px;
}

.margin_bottom_0px {
  margin-bottom: 0px;
}

/* accordeons */
.accordeon {
  transform-origin: 100% 0%;
  animation: accordeon 1s;
}

@keyframes accordeon {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleY(1);
  }
}

.accordeon2 {
  transform-origin: 100% 0%;
  animation: accordeon2 1s;
  animation-delay: 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes accordeon2 {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
    animation-fill-mode: forwards;
  }
}

.accordeon3 {
  transform-origin: 100% 0%;
  animation: accordeon3 1s;
  animation-delay: 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes accordeon3 {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
    animation-fill-mode: forwards;
  }
}

.accordeon4 {
  transform-origin: 100% 0%;
  animation: accordeon4 1s;
  animation-delay: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes accordeon4 {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
    animation-fill-mode: forwards;
  }
}

.accordeon5 {
  transform-origin: 100% 0%;
  animation: accordeon5 1s;
  animation-delay: 0.8s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes accordeon5 {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
    animation-fill-mode: forwards;
  }
}

.accordeon6 {
  transform-origin: 100% 0%;
  animation: accordeon6 1s;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes accordeon6 {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
    animation-fill-mode: forwards;
  }
}

.accordeon7 {
  transform-origin: 100% 0%;
  animation: accordeon7 1s;
  animation-delay: 1.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes accordeon7 {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
    animation-fill-mode: forwards;
  }
}

.accordeon8 {
  transform-origin: 100% 0%;
  animation: accordeon8 1s;
  animation-delay: 1.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes accordeon8 {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
    animation-fill-mode: forwards;
  }
}

.accordeon9 {
  transform-origin: 100% 0%;
  animation: accordeon9 1s;
  animation-delay: 1.6s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes accordeon9 {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }

  100% {
    transform: scaleY(1);
    opacity: 1;
    animation-fill-mode: forwards;
  }
}

/* footer */
.footer {
  background-color: #353535;
  padding: 20px 0 25px 30px;
}

.footer h4 {
  margin: 0 0 20px;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.4em;
  font-weight: 200;
  color: #fff;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.5em;
}

.footer ul li:nth-child(-n + 2) {
  font-weight: bold;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer i {
  width: 20px;
  margin-right: 10px;
  color: #fff;
}

/* loading screen */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(172deg, #ff79da, #9356dc);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 2s;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

.loader {
  width: 30px;
  height: 30px;
  position: fixed;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
  opacity: 1;
  z-index: 100;
}

.loader-inner {
  vertical-align: top;
  position: fixed;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
  opacity: 1;
  z-index: 100;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
