body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
/* header */
body > header:nth-child(1) {
  display: flex;
  justify-content: center;
}
.ohmyfood {
  padding-bottom: 3px;
  padding-top: 3px;
  width: 210px;
}
/* section 1 */
.location {
  text-align: center;
  font-size: 20px;
  background: #eceaea;
  box-shadow: 0px 3px 2px -1px inset gray;
}
.location > p:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.fa-solid {
  color: #404040;
  padding-right: 7px;
}
/* section 2 */
.restaurant_search {
  text-align: center;
  font-size: 20px;
  background: #f7f7f7;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}
.restaurant_search > h1:nth-child(1) {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.restaurant_search > p:nth-child(2) {
  margin-top: 0px;
  margin-bottom: 0px;
}
.restaurant_search > p:nth-child(3) {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 0px;
  border-radius: 100px;
  background-image: linear-gradient(172deg, #d18bd7, #d500bc);
  color: white;
  box-shadow: 0px 8px 3px -3px #c6c6c6;
}
/* section 3 */
.functioning {
  display: block;
  text-align: center;
}
/* container 1 */
.restaurants_images {
  width: 100%;
}
/* footer */
