.spinner {
    background: #dbdbdb;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    -webkit-animation: loadscreen 3s forwards;
            animation: loadscreen 3s forwards;
  }
  
  @-webkit-keyframes loadscreen {
    0%, 50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  
  @keyframes loadscreen {
    0%, 50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  .loading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .loading__logo {
    width: 100%;
    margin: 200px 0 25px;
    text-align: center;
  }
  .loading__logo img {
    width: 200px;
  }
  .loading__bg {
    width: 150px;
    height: 150px;
    background: radial-gradient(#FF79DA, #9356DC);
    border-radius: 50%;
  }
  .loading__bg .loading__spinner {
    width: 30px;
    height: 30px;
    background-color: #99E2D0;
    border-radius: 50%;
    position: relative;
    top: 10px;
    right: -60px;
    transform-origin: 15px 65px;
    -webkit-animation-name: spinner;
            animation-name: spinner;
    -webkit-animation-duration: 1200ms;
            animation-duration: 1200ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.48, 0.02, 0.37, 1);
            animation-timing-function: cubic-bezier(0.48, 0.02, 0.37, 1);
  }
  .loading__bg .loading__spinner__2 {
    width: 23px;
    height: 23px;
    background-color: #99E2D0;
    border-radius: 50%;
    position: relative;
    top: -5px;
    right: -30px;
    transform-origin: 45px 50px;
    -webkit-animation-name: spinner;
            animation-name: spinner;
    -webkit-animation-duration: 1200ms;
            animation-duration: 1200ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.48, 0.02, 0.37, 1);
            animation-timing-function: cubic-bezier(0.48, 0.02, 0.37, 1);
  }
  .loading__bg .loading__spinner__3 {
    width: 16px;
    height: 16px;
    background-color: #99E2D0;
    border-radius: 50%;
    position: relative;
    top: -3px;
    right: -15px;
    transform-origin: 60px 26px;
    -webkit-animation-name: spinner;
            animation-name: spinner;
    -webkit-animation-duration: 1200ms;
            animation-duration: 1200ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.48, 0.02, 0.37, 1);
            animation-timing-function: cubic-bezier(0.48, 0.02, 0.37, 1);
  }