
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
@import "utils/variables";
@import "base/base";
@import "pages/homepage";
@import "pages/menu";
@import "components/button";
@import "layouts/footer";