button {
    color: #fff;
    background: linear-gradient($color-secondary, $color-primary);
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing:1px;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    margin-bottom: 65px;
    cursor: pointer;
    box-shadow: 0 5px 5px #a8a8a8;
    transition: box-shadow 200ms;
    &:hover {
        background: linear-gradient(#ff92fa, #ef43ff);
        box-shadow: 5px 8px 10px #a8a8a8;
    }
}    